name: vhv_network
description: "A new Flutter project."
version: 0.0.1
homepage: "https://vhv.vn"
publish_to: none

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter
  dio: ^5.9.0
  path_provider: ^2.1.5
#  dio_http_cache: ^0.3.0
  cookie_jar: ^4.0.8
  dio_cookie_manager: ^3.3.0
  flutter_inappwebview: ^6.1.5
  package_info_plus: ^9.0.0
  meta: ^1.17.0


  dio_cache_interceptor: ^4.0.5
  http_cache_hive_store: ^5.0.1

  vhv_shared:
    path: ../vhv_shared

  vhv_storage:
    path: ../vhv_storage
  vhv_navigation:
    path: ../vhv_navigation

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/to/asset-from-package
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/to/font-from-package
